POSTGRES_HOST=
JWT_SIGNING_KEY=
PASS_SALT=
GIN_MODE=
REDIS_HOST=(with port)
SMTP_HOST=s
SMTP_PASSWORD=
SMTP_PORT=
SMTP_USER=
HTTP_HOST=
HTTP_FRONTEND_HOST=(with protocol)
ALLOWED_ORIGINS=(array, with protocol)
